{% extends 'base.html' %}

{% block title%}
Edit Panel
{% endblock %}

{% block body %}
<div class="container w-25 my-3">
    <div class="mb-3">
        <h4>Edit</h4>
    </div>
    <form action="{% url 'edit-confirm' student.id %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Student Name</label>
            <input type="text" class="form-control" name="sname" value='{{student.name}}'>
        </div>
        <div class="mb-3">
            <label for="dob" class="form-label">Dob</label>
            <input type="integer" class="form-control" name="integer" value='{{student.dob}}'>
        </div>
        <div class="mb-3">
            <label for="physics" class="form-label">Physics</label>
            <input type="text" class="form-control" name="physics" value='{{student.physics}}'>
        </div>
        <div class="mb-3">
            <label for="chemistry" class="form-label">Chemistry</label>
            <input type="text" class="form-control" name="chemistry" value='{{student.chemistry}}'>
        </div>
        <div class="mb-3">
            <label for="maths" class="form-label">Maths</label>
            <input type="text" class="form-control" name="maths" value='{{student.maths}}'>
        </div>
        <div class="mb-3">
            <label for="computer_science class=" form-label">Computer Science</label>
            <input type="text" class="form-control" name="computer science" value='{{student.computer science}}'>
        </div>

        <input type="submit" class="form-control btn btn-success" value="Edit">

    </form>
</div>
{% endblock %}